---
import Layout from '../layouts/Layout.astro';
---

<Layout title={'Not Found - Todo App'}>
  <main class="p-5">
    <h2 class="text-3xl py-5 text-center">
      <span class="font-bold block text-6xl">
        404
      </span>
      <span class="text-balance">
        ☹️ La página que buscas no existe
      </span>
    </h2>
  </main>
</Layout>